<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="loader" class="ru.cwl.otus.hw01.service.CsvLoadService">
        <constructor-arg name="name" value="/data/questions.csv"/>
    </bean>

    <bean id="examFabricService" class="ru.cwl.otus.hw01.service.ExamFabricService">
        <constructor-arg name="loadService" ref="loader"/>
    </bean>

    <bean class="ru.cwl.otus.hw01.ui.ExamConsoleUI">
        <constructor-arg name="examFabricService" ref="examFabricService"/>
    </bean>
</beans>